<h1 class="text-center">Ping status for URL : {{url}}</h1>
<div class="col-md-12 text-center average">
    <p>Average ping : <span class="average_value">0</span></p>
</div>
<div class="col-md-12 chart">
    <!-- chart will be appended here -->
</div>
